<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.dhbw.movietunes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Movie tunes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name="org.dhbw.movietunes.MainActivity"
            android:theme="@style/movieTunesStart" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.dhbw.movietunes.ResultMovieSoundtracksActivity"
            android:parentActivityName="org.dhbw.movietunes.SearchMovieSoundtracksActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.movietunes.SearchMovieSoundtracksActivity" />
        </activity>
        <activity
            android:name="org.dhbw.movietunes.ResultMovieTitleActivity"
            android:parentActivityName="org.dhbw.movietunes.SearchMovieTitlesActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.movietunes.SearchMovieTitlesActivity" />
        </activity>
        <activity
            android:name="org.dhbw.movietunes.SearchMovieSoundtracksActivity"
            android:parentActivityName="org.dhbw.movietunes.MainActivity"
            tools:ignore="DuplicateActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.movietunes.MainActivity" />
        </activity>
        <activity
            android:name="org.dhbw.movietunes.SearchMovieTitlesActivity"
            android:parentActivityName="org.dhbw.movietunes.MainActivity"
            tools:ignore="DuplicateActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.movietunes.MainActivity" />
        </activity>


        <activity
            android:name="org.dhbw.movietunes.ResultSimilarSongsActivity"
            android:parentActivityName="org.dhbw.movietunes.ResultMovieSoundtracksActivity"
            tools:ignore="DuplicateActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.movietunes.ResultMovieSoundtracksActivity" />
        </activity>
    </application>

</manifest>